@page "/"

@page "/{url}"
@inject IProductService productService

@if (serviceModel.MultipleData != null)
{
    <div class="row">
        
        @foreach (var product in serviceModel.MultipleData)
        {
            <div class="col-md-3">
                <div class="card border-1 m-2 mb-2">
                    <a href="productDetails/@product.Id" style="text-decoration:none;">
                        <div class="card-header text-center bg-white">
                            <img class="card-img-top" src="@product.ImageUrl" style="width:200px; height:210px" />
                            @if (DateTime.Now < product.UploadedDate.AddDays(30))
                            {
                                <span class="badge bg-success position-absolute top-0 start-100 translate-middle badge rounded-pill">New</span>
                            }
                        </div>
                        <div class="card-body custom-card-body">
                            <p>
                                <span class="text-black">@product.Title </span>&nbsp; &nbsp;
                                <br />
                                @if (product.NewPrice != 0 && product.NewPrice < product.Price)
                                {
                                    <span class="text-black text-decoration-line-through" style="font-size:16px;"><i>MDL @product.Price</i></span>
                                    <span>&nbsp; &nbsp;</span>
                                    <span class="badge bg-primary badge rounded-end bg-danger">Reduced</span>
                                    <br />
                                    <span class="text-danger text-center" style="font-size:16px;"><i>MDL @product.NewPrice</i></span>
                                }
                                else
                                {
                                    <span class="text-primary" style="font-size:16px;"><i>MDL @product.Price</i></span>
                                }

                            </p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 mb-5">
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .custom-card-body {
        height: 20vh;
    }
</style>

@code {
    [Parameter] public string Url { get; set; } = string.Empty;
    public ServiceModel<Product> serviceModel = new ServiceModel<Product>();

    protected override async Task OnInitializedAsync()
    {
        serviceModel = await productService.GetProducts();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Url != null)
        {
            serviceModel = await productService.GetProductbyCategory(Url);
        }
        else
        {
            serviceModel = await productService.GetProducts();
        }
    }
}
